@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans");

body {
  background-color: hsl(0, 0%, 98%);

  font-family: "Nunito Sans", sans-serif;
}

.header {
  border-bottom: 2px solid grey;
  margin: 0;
}

.header-text {
  margin-left: 75px;
}

.all-countries {
  margin: 20px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: hsl(200, 15%, 8%);
  font-size: 14px;
}

.one-country {
  border: 2px solid #eeeaea;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #bbb9b9;
  width: 250px;
  margin-bottom: 75px;
}

.img {
  width: 252px;
  height: 150px;
  border-radius: 5px;
}

.heading {
  font-weight: 800;
}

.info {
  margin-left: 20px;
}

input {
  margin-left: 75px;
  margin-top: 25px;
  width: 250px;
  padding: 10px;
}
