@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  background-color: rgba(219, 219, 219, 0.3);
  font-family: "Nunito Sans", sans-serif;
}

.header {
  border-bottom: 2px solid rgba(189, 186, 186, 0.6);
  background-color: white;
}

.header-text {
  padding-top: 15px;
  margin-top: 0;
  margin-left: 75px;
  font-size: 20px;
}

.all-countries {
  margin: 20px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: hsl(200, 15%, 8%);
  font-size: 14px;
}

.one-country {
  border: 2px solid #eeeaea;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #bbb9b9;
  width: 250px;
  margin-bottom: 75px;
}

.one-country:hover {
  transform: scale(1.05);
}

.img {
  width: 252px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.heading {
  font-weight: 800;
}

.info {
  margin: 0 20px;
}

.search {
  display: flex;
  justify-content: space-between;
  margin: 35px 75px;
}

input {
  width: 250px;
  padding: 10px;
}

select {
  padding: 0 8px;
}

/* Large country card */
.large-country-card {
  margin: 0 75px;
  display: flex;
  align-content: space-evenly;
}

.first-column {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.second-column {
  margin-top: 70px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.back-button {
  margin: 50px 75px;
}

.flag {
  width: 500px;
  height: 325px;
}

.border-countries {
  margin-left: 675px;
}

.large-country-card p {
  margin-bottom: 2px;
}
